h1 {
	border: 1px solid black;
}
<<<<<<< Updated upstream

#containerFeatured {
	border: 1px solid blue;
	width: 100%;
}
#containerArticles {
	width: 100%;
}

#leftColumn {
	width: 30%;
	float: left;
}
#centerColumn {
	width: 30%;
	float: left;
}
#rightColumn {
	width: 30%;
	float: left;
}
.article {
	float: left;
	width: 30%;
	height: 95px;
	background-color: grey;
	margin: 5px;
	padding: 8px;
}
=======
#containerFeatured {
	border: 1px solid black;
	width: 100%;
}
#leftColumn {
	width: 22%;
	float: left;
}
#centerColumn {
	width: 50.75%;
	float: left;
}
#rightColumn {
	width: 22%;
	float: left;
}
>>>>>>> Stashed changes
.box {
	background-color: grey;
	color: black;
	border: 2px solid black;
	border-radius: 8px;
<<<<<<< Updated upstream
	padding: 10px;
	margin: 5px;
=======
	padding: 2px;
	margin: 8px;
>>>>>>> Stashed changes
}
.clearFloat {
	clear: both;
}
.column {
<<<<<<< Updated upstream
	height: 400px;
=======
	height: 500px;
>>>>>>> Stashed changes
}