<<<<<<< Updated upstream
.divClass {
	color: red;
}

#some {
	border: 1px solid red;
}

a {

}

.orange {
	color: orange;
}

.greenBox {
	border: 1px solid green;
}

.underline {
	text-decoration: underline;
=======
em div {
	display: inline;
}
p span {
    border: 1px solid green;
}

em {
    font-family: Arial;
    color: purple;
}

blockquote p em {
    text-decoration: underline;
}
#green-quote {
	color:green;
>>>>>>> Stashed changes
}